.App {
  padding: 1em;
}

section {
  border: 1px solid black;
  padding: 1em;
  margin: 1em;
  display: inline-block;
  float: left;
}

table {
  border-collapse: collapse;
}

table td {
  border: 1px solid gray;
  padding: .5em;
}

td.currency {
  text-align: right;
}

img.fruit {
  width: 100px;
}
